@model AspireOrchestrator.Domain.Models.Deposit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deposit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrxDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrxDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReconcileStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReconcileStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Belob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Belob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
